* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-bg-color: #fefdf8;
  --header-footer-color: #f9c4bc;
  --accent-color-orange: #ec8366;
  --accent-color-green: #54b9b5;
}

body {
  background-color: var(--main-bg-color);
}

/* navigation bar */
.prinav {
  background-color: var(--header-footer-color);
}

#mklogo {
  vertical-align: middle;
  margin: 5px;
  margin-left: 10px;
  width: 70px;
  border: 1px solid black;
}

#currentpage {
  border-bottom: 2px solid var(--accent-color-green);
}

.prinav {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.navcontent{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.prinav li {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 20px;
}

.prinav li img {
  display: block;
  height: 30px;
  margin: 0 auto;
}

.prinav li:hover {
  opacity: 0.7;
  transform: translateY(-5px);
  transition: transform 0.3s linear;
}

#menu, .menu-1, .menu-2{
  display: none;
  width: 20px;
  vertical-align: bottom;
}

/* main */
main {
  margin: 5% 10%;
  font-size: 1.4em;
  text-align: center;
}

.title {
  margin: 5%;
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  border-bottom: 2px dashed var(--header-footer-color);
  display: inline-block;
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2em;
}

.text {
  margin-top: 5px;
}

form {
  text-align: left;
  margin-top: 5%;
}

.class label, .name-email label, .message label {
  margin-bottom: 10px;
  padding: 3px 20px;
  font-size: 1rem;
  background-color: var(--accent-color-orange);
  color: #fefdf8;
  width: fit-content;
}

em {
  font-size: 0.6em;
  padding-left: 10px;
}

.grid {
  display: grid;
  }

.name-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  text-align: left;
  margin-bottom: 50px;
}

.class {
  display: grid;
  grid-template-columns: 50px 1fr 50px 1fr;
  margin-bottom: 50px;
  gap: 10px;
  vertical-align: bottom;
}

.class label {
  grid-column: 1/ 5;
  margin-bottom: 10px;
}

.class input {
  margin-left: 30px;
}

.message {
  display: grid;
  grid-template-rows: 1fr 3fr; 
  margin-bottom: 50px;
}

input, textarea {
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid var(--accent-color-orange);
  resize: none;
}

.submit {
  text-align: right;
}

.submit button {
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: var(--accent-color-green);
  color: #fefdf8;
  border: 0;
  border-radius: 5px;
}

.submit button:hover {
  opacity: 0.7;
}

.submit button:active {
  color: var(--accent-color-orange);
}

.submit button img {
  width: 20px;
}

footer {
  padding: 20px;
  margin-top: 5%;
  text-align: center;
  background-color: var(--header-footer-color);
}

footer p {
  font-size: 1.2em;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1280px) {
  #mklogo {
    width: 60px;
  }
  .navcontent{
    margin-top: 10px;
  }
  main {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2rem;
  }
  .text {
    font-size: 1.2rem;
  }
  label {
    font-size: 1rem;
  }
  .submit {
    font-size: 1rem;
  }
  .submit button img {
    width: 15px;
  }
}
/* Mobile */
@media (max-width: 767px) {
  #mklogo {
    width: 50px;
  }
  main {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .text, label, .submit {
    font-size: 0,7rem;
  }
  .name-email {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }
  .class {
    margin-bottom: 30px;
  }
  input, textarea {
    padding: 10px 20px;
  }
  .message {
    margin-bottom: 25px;
  }
  /* navbar */
  main nav div {
    margin: 0;
    display: flex;
    align-items: center;
  }
  main nav div img {
    width: 50px;
  }
  main nav p {
    display: none;
  }
  .navcontent {
    display: none;
  }
  .menu-1 {
    display: block;
  }
  #menu:checked ~ .menu-1 {
    display: none;
  }
  #menu:checked ~ .menu-2 {
    display: inline-block;
  }
  .menu-right {
    padding-top: 17px;
  }
}

#menu:checked ~ .menu-2 {
  position: relative;
  z-index: 50;
  width: 20px;
  
}
#menu:checked ~ .navcontent {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: var(--main-bg-color);
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 0;
  height: 80vh;
  width: 30%;
  margin: 0;
  padding: 10% 5%;
  gap: 1.5rem;
}