* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-bg-color: #fefdf8;
  --header-footer-color: #f9c4bc;
  --accent-color-orange: #ec8366;
  --accent-color-green: #54b9b5;
}

body {
  background-color: var(--main-bg-color);
}

/* navigation bar */
.prinav {
  background-color: var(--header-footer-color);
}

#mklogo {
  vertical-align: middle;
  margin: 5px;
  margin-left: 10px;
  width: 70px;
  border: 1px solid black;
}

#currentpage {
  border-bottom: 2px solid var(--accent-color-green);
}

.prinav {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.navcontent{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.prinav li {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 20px;
}

.prinav li img {
  display: block;
  height: 30px;
  margin: 0 auto;
}

.prinav li:hover {
  opacity: 0.7;
  transform: translateY(-5px);
  transition: transform 0.3s linear;
}

#menu, .menu-1, .menu-2{
  display: none;
  width: 20px;
  vertical-align: bottom;
}

/* main */
main {
  margin: 0 5%;
  text-align: center;
}

.title {
  margin: 5%;
  margin-bottom: 0;
  text-align: center;
}

.text {
  font-size: 1.4em;
}

h1 {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  border-bottom: 2px dashed var(--header-footer-color);
  display: inline-block;
}

h2 {
  margin: 3%;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--accent-color-orange);
  color: white;
  display: inline-block;
  padding: 10px 30px;
}

.section2 h2 {
  background-color: var(--accent-color-green);
}

.pic {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  height: 300px;
  overflow: scroll;
  margin-bottom: 50px;
}

.pic img {
  align-self: auto;
}

/* back to top button */
.backtotop {
  position: fixed;
  bottom: 70px; /* footer height */
  left: 25px;
}

.backtotop img {
  width: 4rem;
}


/* footer */
footer {
  padding: 20px;
  margin-top: 5%;
  text-align: center;
  background-color: var(--header-footer-color);
}

footer p {
  font-size: 1.2em;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1280px) {
  #mklogo {
    width: 60px;
  }
  .navcontent{
    margin-top: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  .text {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .pic {
    gap: 15px;
    height: 200px;
  }
}
/* Mobile */
@media (max-width: 767px) {
  #mklogo {
    width: 50px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .text {
    font-size: 1rem;
  }
  /* navbar */
  main nav div {
    margin: 0;
    display: flex;
    align-items: center;
  }
  main nav div img {
    width: 50px;
  }
  main nav p {
    display: none;
  }
  .navcontent {
    display: none;
  }
  .menu-1 {
    display: block;
  }
  #menu:checked ~ .menu-1 {
    display: none;
  }
  #menu:checked ~ .menu-2 {
    display: inline-block;
  }
  .menu-right {
    padding-top: 17px;
  }
  .backtotop img {
    width: 3rem;
  }
  .pic {
    gap: 10px;
    height: 150px;
  }
}

#menu:checked ~ .menu-2 {
  position: relative;
  z-index: 50;
  width: 20px;
  
}
#menu:checked ~ .navcontent {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: var(--main-bg-color);
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 0;
  height: 80vh;
  width: 30%;
  margin: 0;
  padding: 10% 5%;
  gap: 1.5rem;
}