* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-bg-color: #fefdf8;
  --header-footer-color: #f9c4bc;
  --accent-color-orange: #ec8366;
  --accent-color-green: #54b9b5;
}

/* navigation bar */
.prinav {
  background-color: var(--header-footer-color);
}

#mklogo {
  vertical-align: middle;
  margin: 5px;
  margin-left: 10px;
  width: 70px;
  border: 1px solid black;
}

#currentpage {
  border-bottom: 2px solid var(--accent-color-green);
}

.prinav {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.navcontent{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.prinav li {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 20px;
}

.prinav li img {
  display: block;
  height: 30px;
  margin: 0 auto;
}

.prinav li:hover {
  opacity: 0.7;
  transition: opacity 1s linear;
  transform: translateY(-5px);
  transition: transform 0.3s linear;
}

#menu, .menu-1, .menu-2{
  display: none;
  width: 20px;
  vertical-align: bottom;
}

/* header */
.headphoto {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.headphoto img {
  width: 100%;
  opacity: 0.3;
}

.header {
  position: absolute;
  top: 50%; /* 親要素のtop/leftから50％ */
  left: 50%;
  transform: translate(-50%,-50%);  /*センター寄せの修正*/
  width: 100%;
  text-align: center;
  z-index: 2; /* 文字を最前面に表示 */
}

h1 {
  font-size: 5rem;
}

.header h2 {
  font-size: 2rem;
}

.header h1, .header h2 {
  z-index: 3; /* 文字自体が最前面に来るように設定 */
}

/* main */
.mainnav {
  margin-left: 10%;
  margin-right: 10%;
}

.welcome {
  margin: 5%;
  text-align: center;
  font-size: x-large;
  font-weight: bold 700;
  text-decoration: underline;
}

main nav div {
  margin-bottom: 50px;
}

main nav div img {
  width: 80px;
}

main nav h2 {
  font-size: larger;
  margin-top: 15px;
  margin-bottom: 10px;
}

#lefticon {
  margin-right: 5%;
  float: left;
}

#righticon {
  margin-left: 5%;
  float: right;
}

#lefticon:hover, #righticon:hover {
  opacity: 0.7;
  transition: opacity 1s linear;
  transform: translateY(-5px);
}

.class {
  text-align: right;
  /* Parent width - class content width - icon width */
  margin-left: calc(100% - 300px - 100px);
}

.gallery {
  text-align: right;
  /* Parent width - gallery content width - icon width */
  margin-left: calc(100% - 300px - 100px);
}

/* footer */
footer {
  clear: both;
  padding: 20px;
  margin-top: 5%;
  text-align: center;
  background-color: var(--header-footer-color);
}

footer p {
  font-size: 1.2em;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1280px) {
  #mklogo {
    width: 60px;
  }
  .navcontent{
    margin-top: 10px;
  }
  h1 {
    font-size: 4rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
}
/* Mobile */
@media (max-width: 767px) {
  #mklogo {
    width: 50px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .header h2 {
    font-size: 1.3rem;
  }
  .welcome p {
    font-size: 1.2rem;
  }
  main nav div {
    margin: 0;
    display: flex;
    align-items: center;
  }
  main nav div img {
    width: 50px;
  }
  main nav p {
    display: none;
  }
  .class, .gallery {
    display: flex;
    flex-direction: row-reverse;
  }
  .navcontent {
    display: none;
  }
  .menu-1 {
    display: block;
  }
  #menu:checked ~ .menu-1 {
    display: none;
  }
  #menu:checked ~ .menu-2 {
    display: inline-block;
  }
  .menu-right {
    padding-top: 17px;
  }
}

#menu:checked ~ .menu-2 {
  position: relative;
  z-index: 50;
  width: 20px;
  
}
#menu:checked ~ .navcontent {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: var(--main-bg-color);
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 0;
  height: 80vh;
  width: 30%;
  margin: 0;
  padding: 10% 5%;
  gap: 1.5rem;
}